/* Coco Gothic Bold */
@font-face {
    font-family: "CocoGothicBold";
    src: url("../fonts/Coco-Gothic-Bold-trial.ttf") format('truetype');
}

@font-face {
    font-family: "CocoGothicBoldItalic";
    src: url("../fonts/Coco-Gothic-Bold-Italic-trial.ttf") format('truetype');
}

/* Coco Gothic Bold */

/* Coco Gothic Fat */
@font-face {
    font-family: "CocoGothicFat";
    src: url("../fonts/Coco-Gothic-Fat-trial.ttf") format('truetype');
}

@font-face {
    font-family: "CocoGothicFatItalic";
    src: url("../fonts/Coco-Gothic-Fat-Italic-trial.ttf") format('truetype');
}

/* Coco Gothic Fat */


/* Coco Gothic Heavy */
@font-face {
    font-family: "CocoGothicHeavy";
    src: url("../fonts/Coco-Gothic-Heavy-trial.ttf") format('truetype');
}

@font-face {
    font-family: "CocoGothicHeavyItalic";
    src: url("../fonts/Coco-Gothic-Heavy-Italic-trial.ttf") format('truetype');
}

/* Coco Gothic Heavy */


/* Coco Gothic Light */
@font-face {
    font-family: "CocoGothicLight";
    src: url("../fonts/Coco-Gothic-Light-trial.ttf") format('truetype');
}

@font-face {
    font-family: "CocoGothicLightItalic";
    src: url("../fonts/Coco-Gothic-Light-Italic-trial.ttf") format('truetype');
}

/* Coco Gothic Light */

/* Coco Gothic Utlra Light */
@font-face {
    font-family: "CocoGothicUltraLight";
    src: url("../fonts/Coco-Gothic-Ultralight-trial.ttf") format('truetype');
}

@font-face {
    font-family: "CocoGothicUltraLightItalic";
    src: url("../fonts/Coco-Gothic-Ultralight-Italic-trial.ttf") format('truetype');
}

/* Coco Gothic Utlra Light */


/* Coco Gothic Regular */

@font-face {
    font-family: "CocoGothicRegular";
    src: url("../fonts/Coco-Gothic-Regular-trial.ttf") format('truetype');
}

/* Coco Gothic Regular */